data/
work/

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

.venv/
venv/
env/

.idea/
.vscode/
*.iml


.DS_Store
Thumbs.db
desktop.ini


.ipynb_checkpoints/


*.npy
*.parquet
*.joblib
*.pkl
*.pt
*.pth
*.mp4
*.wav
*.png
*.jpg
*.zip
*.tar
*.gz
*.7z


*.log
provera_*.py
~$*.docx